/* font-family: 'Alkatra', cursive;
font-family: 'DynaPuff', cursive;
font-family: 'Roboto Serif', serif; */
html {
    font-family: 'Roboto Serif', serif;
}
.select-none {
    user-select: none;
}
.navbar-brand {
    font-family: 'DynaPuff', cursive;
}
.sticky-header {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.4s;
  }
.sticky-header.hidden {
  top: -100%;
}
#animated-tags {
  position: relative;
}
#animated-tags:after {
  content: '';
  width: 3px;
  height: 90%;
  background-color: var(--bs-body-color);
  position: absolute;
  margin-left: 5px;
  bottom: 0;
  animation: blink 1s linear infinite;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}