/* font-family: 'Alkatra', cursive;
font-family: 'DynaPuff', cursive;
font-family: 'Roboto Serif', serif; */
html {
  font-family: "Roboto Serif", serif;
  --page-max-width: 1140px;
}
@media (min-width: 1400px) {
  html {
    --page-max-width: 1320px;
  }
}
.navbar .container {
  max-width: var(--page-max-width);
}
.select-none {
  user-select: none;
}
.navbar-brand {
  font-family: "DynaPuff", cursive;
}
.sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.4s;
}
.sticky-header.hidden {
  top: -100%;
}
#animated-tags:after {
  content: "";
  padding: 0px 2px;
  background-color: var(--bs-body-color);
  margin-left: 5px;
  animation: cursor-blink 1.2s infinite ease;
}
@keyframes cursor-blink {
  50% {
    opacity: 0;
  }
}
